{{> left-menu }}
{{> add-modal}}


<section class="posting-info page-content">
    <div class="posting-info__header">
        <p class="posting-info__header_num">Информация об оприходывании: № <span>{{postingItem.postingNum}}</span></p>
        <p class="posting-info__header_date">От: <span>{{postingItem.postingDate}}</span></p>
    </div>
     <div class="posting-info__wrapper">
        <p class="posting-info__wrapper_worker">Сотрудник: <span>{{postingItem.postingWorker}}</span></p>
        <p class="posting-info__wrapper_storage">На склад: <span>{{postingItem.postingStorage}}</span></p>
    </div>
        <table class="posting-table">
        <thead>
            <tr>
                <td class="tb-num">Артикул<img src="/img/table-arr.svg" alt=""></td>
                <td class="tb-date">Наименование <img src="/img/table-arr.svg" alt=""></td>
                <td class="tb-date">Количество <img src="/img/table-arr.svg" alt=""></td>
            </tr>
        </thead>
        <tbody>
            {{#each postingItem.list}}
                <tr class="posting-item">
                    <td class="tb-num">{{artiqle}}</td>
                    <td class="tb-num"><a href="../nomenclature/{{_id}}" target="_blank">{{name}}</a></td>
                    <td class="tb-num">{{count}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table> 
</section>